In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

In [30]:
dataframe = pd.read_excel("../data/raw/15_3_01_Energia_electrica_consumida_por_tipo_usuario-5.xlsx", sheet_name="Total TDF", header=3)

In [32]:
# Visualización  de cantidad de instancias y columnas.
num_instancias, num_columnas = dataframe.shape
print(f'Cantidad de instancias: {num_instancias}')
print(f'Cantidad de columnas: {num_columnas}')

Cantidad de instancias: 182
Cantidad de columnas: 8

In [26]:
# Eliminar las filas 1 y 2 (índices 0 y 1)
dataframe = dataframe.drop([0, 1]).reset_index(drop=False)
dataframe.head()

,index,Unnamed: 0,Período,Total,Grandes \nDemandas,Medianas \nDemandas,Uso\n Residencial,Uso \nGeneral,Alumbrado \nPúblico
0,2,2010,Enero,28389813,14295431,1895533,8505506,2752545,940798
1,3,NaN,Febrero,29604832,14258851,2454954,7957003,3910403,1023621
2,4,NaN,Marzo,31100802,16086916,2404916,8382174,2837123,1389673
3,5,NaN,Abril,34441839,15568924,2991200,9663763,4604950,1613002
4,6,NaN,Mayo,32849499,15230025,2664536,9744634,3245695,1964609

In [ ]:
# Renombrar características
dataframe = dataframe.rename(columns={
    "Unnamed: 0": "Año",
    "Grandes \nDemandas": "Grandes Demandas",
    "Medianas \nDemandas": "Medianas Demandas",
    "Uso\n Residencial": "Uso Residencial",
    "Uso \nGeneral": "Uso General",
    "Alumbrado \nPúblico ": "Alumbrado Público"
})

print(dataframe.columns)
dataframe.head()

In [ ]:
# Completar instancias de año vacias con el año correspondiente
dataframe["Año"] = dataframe["Año"].ffill()
dataframe.head()

In [ ]:
# Renombrar los nombres de meses con números enteros. 
meses_dict = {
    "Enero": 1,
    "Febrero": 2,
    "Marzo": 3,
    "Abril": 4,
    "Mayo": 5,
    "Junio": 6,
    "Julio": 7,
    "Agosto": 8,
    "Septiembre": 9,
    "Octubre": 10,
    "Noviembre": 11,
    "Diciembre": 12
}
dataframe["Período"] = dataframe["Período"].replace(meses_dict)

In [ ]:
# Visualizar el tipo de dato de cada columna
print(dataframe.dtypes)

In [ ]:
# Calcula el numero de valores nullos de cada columna
null_counts = dataframe.isnull().sum()
print(null_counts)

In [ ]:
# Supongamos que tu DataFrame se llama 'dataframe'
filas_nulas = dataframe[dataframe.isnull().any(axis=1)]
print(filas_nulas)

In [ ]:
dataframe = dataframe.dropna()

In [ ]:
# Supongamos que tu DataFrame se llama 'dataframe'
null_counts = dataframe.isnull().sum()
print(null_counts)
# Supongamos que tu DataFrame se llama 'dataframe'
filas_nulas = dataframe[dataframe.isnull().any(axis=1)]
print(filas_nulas)

In [ ]:
print(dataframe.dtypes)

In [ ]:
# Supongamos que estás trabajando con la columna 'Total'
problematic_rows = dataframe[~dataframe['Total'].apply(lambda x: str(x).replace('.', '', 1).isdigit())]
print(problematic_rows)

In [ ]:
# Eliminar las filas problemáticas
dataframe = dataframe[dataframe['Total'].apply(lambda x: str(x).replace('.', '', 1).isdigit())]

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Supongamos que tu DataFrame se llama 'dataframe'
sns.boxplot(x=dataframe['Total'])
plt.title('Boxplot de Total')
plt.show()

In [ ]:
pip install openpyxl

In [ ]:
# Guardar el DataFrame como archivo CSV
dataframe.to_csv('Consumo_Energia_Electrica_v1.csv', index=False)

# ME DA ERROR AL GUARDAR ALGUNOS DATOS, MESES NO GUARDA CON NUM , ALGUNOS EN LETRAS. SEGUIR LIMPIANDO EL DATASET